@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'vaziri';
	font-weight: bold;
	src: url('./assets/fonts/Vazirmatn-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'vaziri';
	font-weight: 400;
	src: url('./assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
}
body {
	font-family: 'vaziri';
	direction: rtl;
}
